<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>jsptest</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>MyfirstServlet</display-name>
    <servlet-name>MyfirstServlet</servlet-name>
    <servlet-class>sample.MyfirstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyfirstServlet</servlet-name>
    <url-pattern>/Myfirst</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LifeCycle</display-name>
    <servlet-name>LifeCycle</servlet-name>
    <servlet-class>sample.LifeCycle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LifeCycle</servlet-name>
    <url-pattern>/LifeCycle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Hello Servlet</description>
    <display-name>Hello</display-name>
    <servlet-name>Hello</servlet-name>
    <servlet-class>sample.Hello</servlet-class>
    <init-param>
      <description>전화번호</description>
      <param-name>tel</param-name>
      <param-value>1234567890</param-value>
    </init-param>
    <init-param>
      <description>비밀번호</description>
      <param-name>password</param-name>
      <param-value>123123</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Hello</servlet-name>
    <url-pattern>/Hello</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VisitInsert</display-name>
    <servlet-name>VisitInsert</servlet-name>
    <servlet-class>bbs.VisitInsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VisitInsert</servlet-name>
    <url-pattern>/VisitInsert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VisitList</display-name>
    <servlet-name>VisitList</servlet-name>
    <servlet-class>bbs.VisitList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VisitList</servlet-name>
    <url-pattern>/VisitList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>login.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginCheck</display-name>
    <servlet-name>LoginCheck</servlet-name>
    <servlet-class>login.LoginCheck</servlet-class>
    <init-param>
      <description>관리자ID</description>
      <param-name>dbID</param-name>
      <param-value>admin</param-value>
    </init-param>
    <init-param>
      <description>관리자PW</description>
      <param-name>dbPWD</param-name>
      <param-value>1234</param-value>
    </init-param>
    <init-param>
      <description>관리자ID</description>
      <param-name>dbID2</param-name>
      <param-value>admin2</param-value>
    </init-param>
    <init-param>
      <description>관리자PW</description>
      <param-name>dbPWD2</param-name>
      <param-value>12342</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginCheck</servlet-name>
    <url-pattern>/LoginCheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>login.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>memberJoin</display-name>
    <servlet-name>memberJoin</servlet-name>
    <servlet-class>login.memberJoin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>memberJoin</servlet-name>
    <url-pattern>/memberJoin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginInfo</display-name>
    <servlet-name>LoginInfo</servlet-name>
    <servlet-class>login.LoginInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginInfo</servlet-name>
    <url-pattern>/LoginInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Source</display-name>
    <servlet-name>Source</servlet-name>
    <servlet-class>sample.Source</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Source</servlet-name>
    <url-pattern>/Source</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Destination</display-name>
    <servlet-name>Destination</servlet-name>
    <servlet-class>sample.Destination</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Destination</servlet-name>
    <url-pattern>/Destination</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteList</display-name>
    <servlet-name>DeleteList</servlet-name>
    <servlet-class>bbs.DeleteList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteList</servlet-name>
    <url-pattern>/DeleteList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>idOverlapCheck</display-name>
    <servlet-name>idOverlapCheck</servlet-name>
    <servlet-class>login.idOverlapCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>idOverlapCheck</servlet-name>
    <url-pattern>/idOverlapCheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>idOverlapInput</display-name>
    <servlet-name>idOverlapInput</servlet-name>
    <servlet-class>login.idOverlapInput</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>idOverlapInput</servlet-name>
    <url-pattern>/idOverlapInput</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>name</param-name>
    <param-value>dongjin</param-value>
  </context-param>
  <context-param>
    <param-name>age</param-name>
    <param-value>35</param-value>
  </context-param>
  <resource-ref>
    <description>ConnectionPool</description>
    <res-ref-name>jdbc/myOracle</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <jsp-config>
    <taglib>
      <taglib-uri>/WEB-INF/tlds/el-functions.tld</taglib-uri>
      <taglib-location>/WEB-INF/tlds/el-functions.tld</taglib-location>
    </taglib>
  </jsp-config>
  <servlet>
    <description></description>
    <display-name>ControlServlet</display-name>
    <servlet-name>ControlServlet</servlet-name>
    <servlet-class>mvc.control.ControlServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControlServlet</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemControlServlet</display-name>
    <servlet-name>MemControlServlet</servlet-name>
    <servlet-class>mvcMem.control.MemControlServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemControlServlet</servlet-name>
    <url-pattern>/MemControlServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Controller</display-name>
    <servlet-name>Controller</servlet-name>
    <servlet-class>mvc.Controller</servlet-class>
    <init-param>
      <param-name>propertyConfig</param-name>
      <param-value>Command.properties</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>*.di</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MessageProcess</display-name>
    <servlet-name>MessageProcess</servlet-name>
    <servlet-class>mvc.MessageProcess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MessageProcess</servlet-name>
    <url-pattern>/MessageProcess</url-pattern>
  </servlet-mapping>
</web-app>